:root {
	--black: #3B434E;
	--grey: #A4A4A4;
	--grey-light: #EBEBEB;
	--grey-dark: #3b434e;
	--white: #FFF;
	--primary:#6344df;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--red-light: #f49787;
	--green: #1d8158;
	--green-light: #C8F8E4;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;
	
	font-family: "Noto Sans", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

ul {
	list-style-type: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
}

.visualyHidden {
	width: 0;
	height: 0;
	overflow: hidden;
}
